.services{
    height: 940px;
    @include flex;
    div{
        section{
            @include flex;
        }
        width: 20%;
        height: auto;
        color: white;
        border-radius: 5px;
        background-color: rgb(40, 39, 46);
        margin: 0 2rem;
        padding: 5rem 3rem;
        text-align: center;
        h1{
            font-size: 2rem;
        }
        img{
            width: 80%;
            margin-bottom: 3rem;
        }
        p{
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        a{
            color: white;
            margin: 0 .5rem;
            border: 2px solid white;
        }
    }
}
@media only screen and (max-width: 768px){
    .services{
        flex-wrap: wrap;
        height: auto;
        div{
            h1{
                font-size: 1.5rem;
            }
            img{
                margin-bottom: 0;
                width: 60%;
            }
            p{
                font-size: 1rem;
                margin: 10px;
            }
            a{
                margin: 5px;
            }
            section{
                flex-direction: column;
            }
            width: 90%;
            padding: 1rem;
            margin: 10px;
        }
    }
}